@model ProductAddViewModel

<section>
    <form asp-controller="Product" asp-action="Add">
        <section>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span style="color:red;" asp-validation-for="Name"></span>
        </section>
        <section>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span style="color:red;" asp-validation-for="Description"></span>
        </section>
        <section>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span style="color:red;" asp-validation-for="Price"></span>
        </section>
        <section>
            <label asp-for="Discount"></label>
            <input asp-for="Discount" />
            <span style="color:red;" asp-validation-for="Discount"></span>
        </section>
        <section>
            <button type="submit" style="color:green">Submit</button>
        </section>
    </form>
</section>